<div>
    <a href="{{ url('test_company_create') }}">register new company</a>
</div>

<div>
    ---------------------------
</div>

{{ form(form) }}

{% for company in companies %}
    <div style="border: 1px solid gray; display: inline-block;">
        <a style="display: inline-block; font-size: 30px;" href='{{ url('test_office_list', { 'companyId': company.idCompany }) }}'>{{ company.title }}</a>
        {{ render(url('test_active_buttons', {'itemId':company.idCompany, 'routeAction':'test_company', 'itemActive':company.active, 'itemCreatedBy':company.createdBy})) }}
        
    
    {% for office in company.offices %}
        <div style="border: 1px solid sandybrown;  display: inline-block;">
        <h3>
            {{ office.address }}
        </h3>
        {% for hours in office.openingHours %}
            <div>
                <b>{{ daysInWeek[hours.dayInWeek] }} </b>
                {% set lunch = '' %}
                {% if hours.lunchStartAt != '' %}
                    {% set lunch = hours.lunchStartAt ~ ', ' ~  hours.lunchEndAt ~ ' - ' %}
                {% endif %}
                {{ hours.startAt }} - {{ lunch }}{{ hours.endAt }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endfor %}
