{% extends "TestCompanyBundle::layout.html.twig" %}

{% block content %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="block">
    <a href="{{ url('test_company_create') }}">{{ 'add_new_company'|trans }}</a>
</div>
{% endif %}

{% if app.session.flashBag.has('error') %}
    <div class="block error">
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}

{{ form(form) }}

{% for company in companies %}
    <div class="block-company">
        <div class="bg-gray">
        <a class="font-30" href='{{ url('test_office_list', { 'companyId': company.idCompany }) }}'>{{ company.title }}</a>
        
        {{ include('TestCompanyBundle::Button/action_buttons.html.twig', {
            'routeAction':'test_company',
            'itemId':company.idCompany,
            'itemActive':company.active,
            'itemAuthor':company.createdBy}) }}
        </div>  
    {% for office in company.offices %}
        <div class="list-pad-brown">
        <h3>
            {{ office.address }}
        </h3>
        {% for hours in office.openingHours %}
            <div>
                <b>{{ daysInWeek[hours.dayInWeek] }} </b>
                {% set lunch = '' %}
                {% if hours.lunchStartAt != '' %}
                    {% set lunch = hours.lunchStartAt ~ ', ' ~  hours.lunchEndAt ~ ' - ' %}
                {% endif %}
                {{ hours.startAt }} - {{ lunch }}{{ hours.endAt }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endfor %}
{% endblock %}