{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div>
    <a href="{{ url('test_company_create') }}">register new company</a>
</div>
<br><br>
{% endif %}

{% if app.session.flashBag.has('error') %}
    <div style="color: red;">
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg }}
        {% endfor %}
    </div>
    <br><br>
{% endif %}

{{ form(form) }}<br><br>

{% for company in companies %}
    <div style="border: 1px solid gray; max-width: 600px;">
        <div style="background-color: #ccc;">
        <a style=" font-size: 30px;" href='{{ url('test_office_list', { 'companyId': company.idCompany }) }}'>{{ company.title }}</a>
        
        {{ include('TestCompanyBundle::Button/action_buttons.html.twig', {
            'routeAction':'test_company',
            'itemId':company.idCompany,
            'itemActive':company.active,
            'itemAuthor':company.createdBy}) }}
        </div>  
    {% for office in company.offices %}
        <div style="border: 1px solid sandybrown;  padding-left: 30px;">
        <h3>
            {{ office.address }}
        </h3>
        {% for hours in office.openingHours %}
            <div>
                <b>{{ daysInWeek[hours.dayInWeek] }} </b>
                {% set lunch = '' %}
                {% if hours.lunchStartAt != '' %}
                    {% set lunch = hours.lunchStartAt ~ ', ' ~  hours.lunchEndAt ~ ' - ' %}
                {% endif %}
                {{ hours.startAt }} - {{ lunch }}{{ hours.endAt }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endfor %}
