{% extends "TestCompanyBundle::layout.html.twig" %}

{% block body %}
    <h2>{{ company.title }}</h2>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>
            <a href="{{ url('test_office_create', { 'companyId':company.idCompany }) }}">register new office</a>
        </div>

        <br><br>
    {% endif %}

    {% for office in offices %}
        <div>
            <a href='{{ url('test_opnng_hrs', { 'officeId': office.idOffice }) }}'>{{ office.address }}</a>

            {{ include('TestCompanyBundle::Button/action_buttons.html.twig', {
            'routeAction':'test_office',
            'itemId':office.idOffice,
            'itemActive':office.active,
            'itemAuthor':office.createdBy}) }}
        </div>
    {% endfor %}

{% endblock %}