{% extends "TestCompanyBundle::layout.html.twig" %}
{% block content %}
<h2>{{ company.title }}</h2>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="block">
    <a href="{{ url('test_office_create', { 'companyId':company.idCompany }) }}">{{ 'add_new_office'|trans }}</a>
</div>
{% endif %}

{% for office in offices %}
    {% if is_granted("ROLE_ADMIN") or office.active %}
        <div>
            <a href='{{ url('test_opnng_hrs', { 'officeId': office.idOffice }) }}'>{{ office.address }}</a>

            {{ include('TestCompanyBundle::Button/action_buttons.html.twig', {
                'routeAction':'test_office',
                'itemId':office.idOffice,
                'itemActive':office.active,
                'itemAuthor':office.createdBy}) }}
        </div>
    {% endif %}
{% endfor %}

{% endblock %}